html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    background-color: whitesmoke;
    font-weight: lighter;
    overflow-x: hidden;
    overflow-y:auto;
}
hr{
    border: 0;
    clear:both;
    display:block;
    width: 10%;               
    background-color:#ffa700;
}
.b{
    font-weight: lighter;
    text-align: center;
    margin-top: 0.5in;
}
h2{ font-weight: lighter}
/*button*/
.filled{
    background-color: #ffa700;
    color: white;
    border: transparent;
    padding: 14px 25px;
    border-radius: 25px;
}
.empty{
    color: #ffa700;
    background-color: transparent;
    border: #ffa700 2px solid;
    padding: 14px 16px;
    border-radius: 25px;
}

/* navigation bar */
.nav{
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color:transparent;
  }
ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}
.nav img{
   filter: invert(100%); 
}
.nav li{
    float: left;
    font-size: 20px;
    color: white;
    padding: 0.8in;
}

/*mainbackground*/
.background{
background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)) ,url("https://media.timeout.com/images/105491010/image.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 90vh;
width: 100%;
color: white;
}
.item-pic{
    margin-left: 1in;
}

/*mid1*/
.container-mid1{
    margin: 0 2in 0.5in 2in;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.container-mid1 h1{
    text-align: center;
}
.container-stuff{
    display: flex;
    flex-direction: row;
}
.item-1{
    margin: 1%
}
hr{
    border: #ffa700 1px;
    height: 5px;
}
.item-1 img{
    filter: brightness(0.9) invert(.7) sepia(.4) hue-rotate(360deg) saturate(750%);
}
/*mid2*/

.container-row1,
.container-row2{
    display: flex;
    width: 100%;
}
.container-row1 img,
.container-row2 img{
    display: flex;
    width: 100%;
    flex-direction:row;
    width: 3.75in;
    height: 3.75in;
    filter: saturate(130%) brightness(0.8);
}
/*mid2*/
.container-mid3{
    display: flex;
    flex-direction: row;
    text-align: justify;
    width: 100%;
    margin: 0;
}

.item-left{
    width: 49vw;
}
.item-left img{
    width: 100%;
    height: 97%;
    overflow: hidden;
    object-fit: cover;
}
.item-right{
    width: 50%;
}
.item-right li{
    display: flex;
    font-size: 20px;
    text-align: justify;
    margin: 0.2in 1in 0.5in 0 ;
}
/*container-bottom*/
.container-bottom{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -0.16in;
}
.container-left-2, .container-right-2{
    width: 50%;
}

.container-right-2 img{
    width: 110%;
    margin-left: -0.07in;
}
.info{
    margin:0.5in;
    color: gray;
    font-weight: lighter;
}
